<label>
    {{#if label}}
        <p>{{label}}</p>
    {{/if}}
    <input
        name="{{name}}"
        value="{{value}}"
        type="{{type}}"
        placeholder="{{placeholder}}"
        class="border-gray-400 rounded-md border-2 w-full"
    ></input>
</label>