<div class="min-h-screen flex gap-3 relative">
  <ui-loader loading="{{isLoading}}" class-name="bg-white/70 z-10"></ui-loader>
  <aside class="w-64 border border-t-0 border-l-0">
    <div class="fixed top-0 bottom-0 w-64">
      <div class="flex flex-col items-center px-2 mt-3">
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
          alt="user"
          class="rounded-full w-20 h-20"
        />
        <a
          href="mailto:{{user.email}}"
          class="text-lg font-light mt-2 text-slate-500 hover:text-indigo-500"
        >{{user.email}}</a>
        <button
          class="logout-btn mt-2 border text-small flex items-center rounded p-2 w-full justify-center gap-2 hover:text-indigo-500"
        >
          <i class="icon-log-out"></i>
          logout
        </button>
      </div>
    </div>
  </aside>

  <main class="flex-1 pr-2">
    <div class="flex flex-wrap mt-3 gap-4">
      <button
        class="create-board h-[234px] border rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg w-44 flex justify-center items-center hover:text-indigo-500 text-4xl"
      >
        <div class="icon-plus"></div>
      </button>

      {{#each boards}}
        <div
          data-id="{{this.id}}"
          class="relative board-item border rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg"
        >
          <button
            data-id="{{this.id}}"
            data-title="{{this.title}}"
            class="delete-board absolute top-0 right-0 hover:text-red-500 bg-transparent rounded-lg text-lg w-8 h-8 ms-auto inline-flex justify-center items-center"
          >
            <div class="icon-circle-x"></div>
          </button>
          <img src="/board.png" alt="" class="w-44 h-44" />
          <div class="p-4 line-clamp-1">{{this.title}}</div>
        </div>
      {{/each}}
    </div>
  </main>
</div>