<div class="border border-l-4 {{ statusColor }} p-2 rounded cursor-pointer">
  <h3 class="line-clamp-1">{{ title }}</h3>
  <p class="line-clamp-3">{{ description }}</p>
  <div class="flex gap-2">
    <div class="{{ priority.icon }} {{ priority.color }}"></div>
    <div class="{{ type.icon }} {{ type.color }}"></div>
  </div>
</div>